* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#product-overview {
    background: url("freedom.jpg");
    width: 100%;
    height: 528px;
    padding: 10px;   
}

.section-title {
    color: #2ddf5c;
    text-align: center;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.plan{
    background: #d5ffdc;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 30%;

}
.plan--highlighted{
    background-color: #19b84c;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.plan__annotation{
    background: white;
    color: #19b84c;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.plan__features{
    list-style: none;
    padding: 0;
    margin: 0;
}
.plan__feature{
    margin: 8px 0;
}
.plan__title{
    color: #0e4f1f;
}
.plan__price{
    color: rgb(132, 132, 132);
}
.plan--highlighted .plan__title{
    color: white;
}
.plan--highlighted .plan__price{
    color: #0e4f1f;
}
.button{
    background-color: #0e4f1f;
    font: inherit;
    font-weight: bold;
    border: 1.5px #0e4f1f solid;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
}
.button:hover,
.button:active{
    background-color: white;
    color: #0e4f1f;
}
.button:focus{
    outline: none;
}
#key-features{
    background-color: #ff1b68;
    padding: 16px;
    margin-top: 80px;
}
#key-features .section-title{
    color: white;
    margin: 30px;
}
.key-feature{
    vertical-align: top;
    display: inline-block;
    width: 30%;

}
.key-feature__list{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  
}
.key-feature__description{
    color: white;
    font-weight: bold;
}
.key-feature__image{
    background-color: pink;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    border: 2px solid #60343b;
    margin: auto;
}
.main-header {
    width: 100%;
    background: #2ddf5c;
    padding: 8px 16px;
   
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 5px solid white;
}

.main-nav__item--cta a {
    color: white;
    background: #ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    color: #ff1b68;
    background: white;
    border: none;
}
.main-footer{
    background-color: black;
    padding: 20px;
    
}
.main-footer__links{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.main-footer__link{
    display: inline-block;
    margin: 0 10px;
}
.main-footer__link a{
    text-decoration: none;
    color: white;
}
.main-footer__link a:hover,
.main-footer__link a:active{
    color: #ccc;
}
